<nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <span><i class="fa fa-universal-access" aria-hidden="true"></i>
    </span><a class="navbar-brand"  href="#">Ordazzle</a>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="nav-link" style="color: white;"> Ordazzle Wiki</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="https://www.etpgroup.com/" target="_blank">Goto To etpgroup.com </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.etpgroup.com/contact/">Contact Us</a>
            </li>
           
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-1" type="text" placeholder="Search">
            <button class="btn btn-outline-white my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="connection/carrierintegration">Channel Integration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Carrier Integration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">e-Commerce Integration</a>
            </li>
            
          </ul>
    </div>
</nav>
