<div id="accordion" class="myaccordion">
    <div class="card smnone">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Dashboard
            <i class="fa fa-plus-circle"  aria-hidden="true"></i> </button>
        </h5>
        
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="connection/carrierintegration">Channel Integration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Carrier Integration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">e-Commerce Integration</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Connection <i class="fa fa-plus-circle"  aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="connection/carrierintegration">Channel Integration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Carrier Integration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">e-Commerce Integration</a>
                </li>
                
              </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Order Management  <i class="fa fa-plus-circle"  aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="ordermanagement/orderprocess">Order Processing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="ordermanagement/orderrules">Manifest</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Order Cancellation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="">Sales Return</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="">Statement of Account</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="ordermanagement/orderrules">Order Rules</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="">Order Allocation Rule</a>
                  </li>
                
              </ul>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Products  <i class="fa fa-plus-circle"  aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="products/productcatalog">Product Catalog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="products/productmaster">Product Master</a>
                </li>
               
                
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Pricing   <i class="fa fa-plus-circle"  aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active"  routerLink="pricing/promotionresevation">Promotion & Reservation</a>
                </li>
                
                
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Stock Management  <i class="fa fa-plus-circle"  aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="stockmanagement/stockinstockout">Stockin/stockout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="stockmanagement/stockview">Stock View</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="stockmanagement/fullfillmentnodesetup">Fulfillment Node Setup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="stockmanagement/locationmaster">Location Master</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="stockmanagement/pincodemaster">PIN Code Master</a>
                  </li>
                
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Adminstration  <i class="fa fa-plus-circle"  aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">User Management</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tag Master</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Common Master</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Batch Job Schedule</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Company Setup</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Reason Master</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Email Server Configuration</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Email Template Configuration</a>
                  </li>
                
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Api Management  <i class="fa fa-plus-circle"  aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">API List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Service Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Manage Gateway</a>
                </li>
                
              </ul>
          </div>
        </div>
      </div>
  </div>
